In [1]:
import numpy as np
import pandas as pd

In [4]:
#load the data
df=pd.read_csv(r'./anime.csv')

In [26]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [27]:
def extract_eps(title):
    check=False
    eps=''
    for i in title:
        if i==')':
            check=False
            break
        if check==True:
            eps+=i
        if i=='(':
            check=True
    return eps

In [28]:
df['Episodes']=df['Title'].apply(extract_eps)
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps

In [29]:
df['Episodes']=df['Episodes'].str.replace(' eps','')
df['Episodes']=df['Episodes'].astype(int)
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [ ]:
type(df['Episodes'])

pandas.Series

In [46]:
df.loc[3]['Title']

'Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 members'

In [63]:
def extract_time(title):
    time=''
    for i in range(len(title)):
        if title[i]==')':
            for j in range(i+1,i+20):
                time+=title[j]
    return time

In [64]:
df['time Stamp']=df['Title'].apply(extract_time)

In [62]:
df['time Stamp'].dtype

In [65]:
df.head()

,Rank,Title,Score,Episodes,time Stamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [66]:
from datetime import datetime

def get_total_months(date_str):

    # 1. Split the string into Start and End
    start_part, end_part = date_str.split(' - ')
    
    # 2. Convert strings to datetime objects (%b is for short month names like 'Apr')
    start_date = datetime.strptime(start_part.strip(), '%b %Y')
    end_date = datetime.strptime(end_part.strip(), '%b %Y')
    
    # 3. Calculate the difference
    years_diff = end_date.year - start_date.year
    months_diff = end_date.month - start_date.month
    
    # Add 1 if you want the count to be inclusive (e.g., Jan to Jan = 1 month)
    total_months = (years_diff * 12) + months_diff + 1
    return total_months

In [71]:
df['Months'] = df['time Stamp'].apply(get_total_months)
df.head()

,Rank,Title,Score,Episodes,time Stamp,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [ ]:
#make new Column for episode count  -done
#make new Column for time stamp  -done
#which anime has the gratest score  -done
#give me top 5highest scoring anime -done
#which anime has highest episode count -done
# animes with top 5 episode count -done
#  which is the longest runnign anime

In [108]:
# which anime has the gratest score

df[df['Score']==df['Score'].max()]

,Rank,Title,Score,Episodes,time Stamp,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,16

In [109]:
#give me top 5highest scoring anime


# df['Title'].head()
top_5_score=df.nlargest(5,'Score')
top_5_score

,Rank,Title,Score,Episodes,time Stamp,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [107]:
#which anime has highest episode count 

df[df['Episodes']==df['Episodes'].max()]

,Rank,Title,Score,Episodes,time Stamp,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48

In [110]:
#animes with top 5 episode count

# df['Episodes'].sort_values(ascending=False).head()

top_5_eps_count=df.nlargest(5,'Episodes')
top_5_eps_count

,Rank,Title,Score,Episodes,time Stamp,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,36
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,18
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,18

In [ ]:
#which is the longest runnign anime

# df[df['Months']==df['Months'].max()]  --This is readble way used in above examples

longest_time=df['Months'].idxmax()
row=df.loc[longest_time]
row

Rank                                                         12
Title         Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...
Score                                                      9.02
Episodes                                                    110
time Stamp                                  Jan 1988 - Mar 1997
Months                                                      111
Name: 11, dtype: object