In [12]:
import numpy as np
import pandas as pd

#### **GroupBy**

In [15]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2026-01-01', periods=8)
}
df=pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
1        B    S1    200        15 2026-01-02
2        A    S2    150        12 2026-01-03
3        B    S2    250        18 2026-01-04
4        A    S1    120         8 2026-01-05
5        B    S2    180        20 2026-01-06
6        A    S2    200        15 2026-01-07
7        B    S1    300        25 2026-01-08

In [16]:
category_group=df.groupby('Category')
for A, B in category_group:
    print(A)
    print(B)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
2        A    S2    150        12 2026-01-03
4        A    S1    120         8 2026-01-05
6        A    S2    200        15 2026-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2026-01-02
3        B    S2    250        18 2026-01-04
5        B    S2    180        20 2026-01-06
7        B    S1    300        25 2026-01-08

In [21]:
#Group by category and calculate sum of sales
#df.groupby('Category')['Sales'].sum()
category_group['Sales'].sum()

Category
A    570
B    930
Name: Sales, dtype: int64

In [22]:
#Group by store and calculate sum of sales
store_group=df.groupby('Store')
store_group['Sales'].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [27]:
#group by multiple columns and calcluate sales
#Group by Category and Store
cat_store_grp=df.groupby(['Category','Store'])
for cat, store in cat_store_grp:
    print(cat)
    print(store)

('A', 'S1')
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
4        A    S1    120         8 2026-01-05
('A', 'S2')
  Category Store  Sales  Quantity       Date
2        A    S2    150        12 2026-01-03
6        A    S2    200        15 2026-01-07
('B', 'S1')
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2026-01-02
7        B    S1    300        25 2026-01-08
('B', 'S2')
  Category Store  Sales  Quantity       Date
3        B    S2    250        18 2026-01-04
5        B    S2    180        20 2026-01-06

In [28]:
cat_store_grp['Sales'].sum()

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

#### **Aggregation**

In [29]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
1        B    S1    200        15 2026-01-02
2        A    S2    150        12 2026-01-03
3        B    S2    250        18 2026-01-04
4        A    S1    120         8 2026-01-05
5        B    S2    180        20 2026-01-06
6        A    S2    200        15 2026-01-07
7        B    S1    300        25 2026-01-08

In [30]:
df['Sales'].agg(['mean','max','sum','count','std'])

mean      187.500000
max       300.000000
sum      1500.000000
count       8.000000
std        66.062741
Name: Sales, dtype: float64